In [1]:
import pandas as pd 
import time
import random
import os
from utils import get_data,data_processing
from datetime import datetime
import uuid

In [2]:
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1']
ligas = ['ESPAÑA','INGLATERRA','ITALIA','GERMANY','FRANCIA','PORTUGAL','HOLANDA']

df_ligas = {
    'LIGA':ligas,
    'URL':url
} 

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [3]:
df_ligas['URL'][1]

'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1'

In [4]:
df = pd.read_html(df_ligas['URL'][1])

In [6]:
len(df)

2

In [7]:
df[0]

                       2023/2024
0                  1LIVLiverpool
1                2AVLAston Villa
2            3MCIManchester City
3                    4ARSArsenal
4          5TOTTottenham Hotspur
5            6WHUWest Ham United
6          7MUNManchester United
7     8BHABrighton & Hove Albion
8           9NEWNewcastle United
9                   10CHEChelsea
10  11WOLWolverhampton Wanderers
11          12BOUAFC Bournemouth
12                   13FULFulham
13           14CRYCrystal Palace
14        15FORNottingham Forest
15                16BRNBrentford
16                  17EVEEverton
17               18LTNLuton Town
18                  19BRNBurnley
19   20Sheff UtdSheffield United

In [8]:
df[1]

     J   G  E   P  GF  GC  DIF  PTS
0   20  13  6   1  43  18   25   45
1   20  13  3   4  43  27   16   42
2   19  12  4   3  45  21   24   40
3   20  12  4   4  37  20   17   40
4   20  12  3   5  42  29   13   39
5   19  10  3   6  33  30    3   33
6   20  10  1   9  22  27   -5   31
7   19   8  6   5  38  33    5   30
8   20   9  2   9  39  29   10   29
9   20   8  4   8  34  31    3   28
10  20   8  4   8  30  31   -1   28
11  19   7  4   8  28  35   -7   25
12  20   7  3  10  28  35   -7   24
13  20   5  6   9  22  29   -7   21
14  20   5  5  10  24  35  -11   20
15  19   5  4  10  26  31   -5   19
16  20   8  2  10  24  28   -4   16
17  19   4  3  12  23  37  -14   15
18  20   3  2  15  20  41  -21   11
19  20   2  3  15  15  49  -34    9

In [9]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                               0   1   2  3   4   5   6   7   8
0                  1LIVLiverpool  20  13  6   1  43  18  25  45
1                2AVLAston Villa  20  13  3   4  43  27  16  42
2            3MCIManchester City  19  12  4   3  45  21  24  40
3                    4ARSArsenal  20  12  4   4  37  20  17  40
4          5TOTTottenham Hotspur  20  12  3   5  42  29  13  39
5            6WHUWest Ham United  19  10  3   6  33  30   3  33
6          7MUNManchester United  20  10  1   9  22  27  -5  31
7     8BHABrighton & Hove Albion  19   8  6   5  38  33   5  30
8           9NEWNewcastle United  20   9  2   9  39  29  10  29
9                   10CHEChelsea  20   8  4   8  34  31   3  28
10  11WOLWolverhampton Wanderers  20   8  4   8  30  31  -1  28
11          12BOUAFC Bournemouth  19   7  4   8  28  35  -7  25
12                   13FULFulham  20   7  3  10  28  35  -7  24
13           14CRYCrystal Palace  20   5  6   9  22  29  -7  21
14        15FORNottingham Forest  20   5  5  10  24  35 -11  20
15                16BRNBrentford  19   5  4  10  26  31  -5  19
16                  17EVEEverton  20   8  2  10  24  28  -4  16
17               18LTNLuton Town  19   4  3  12  23  37 -14  15
18                  19BRNBurnley  20   3  2  15  20  41 -21  11
19   20Sheff UtdSheffield United  20   2  3  15  15  49 -34   9

In [10]:
df=df.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})
df['EQUIPO']=df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['LIGA'] = df_ligas['LIGA'][1]

In [11]:
df

                     EQUIPO  J  G  E  P  GF  GC  DIF  PTS        LIGA
0                   Arsenal  7  6  0  1  17   7   10   18  INGLATERRA
1           Manchester City  7  5  2  0  23   6   17   17  INGLATERRA
2         Tottenham Hotspur  7  5  2  0  18   7   11   17  INGLATERRA
3    Brighton & Hove Albion  6  4  1  1  11   5    6   13  INGLATERRA
4         Manchester United  6  4  0  2   8   8    0   12  INGLATERRA
5                    Fulham  7  3  2  2  12  11    1   11  INGLATERRA
6                   Chelsea  6  3  1  2   8   9   -1   10  INGLATERRA
7                 Liverpool  6  2  3  1  15   6    9    9  INGLATERRA
8                 Brentford  7  2  3  2  15  12    3    9  INGLATERRA
9          Newcastle United  7  1  5  1   8   7    1    8  INGLATERRA
10             Leeds United  6  2  2  2  10  10    0    8  INGLATERRA
11          AFC Bournemouth  7  2  2  3   6  19  -13    8  INGLATERRA
12                  Everton  7  1  4  2   5   6   -1    7  INGLATERRA
13              Southampton  7  2  1  4   7  11   -4    7  INGLATERRA
14              Aston Villa  7  2  1  4   6  10   -4    7  INGLATERRA
15           Crystal Palace  6  1  3  2   7   9   -2    6  INGLATERRA
16  Wolverhampton Wanderers  7  1  3  3   3   7   -4    6  INGLATERRA
17          West Ham United  7  1  1  5   3   9   -6    4  INGLATERRA
18        Nottingham Forest  7  1  1  5   6  17  -11    4  INGLATERRA
19           Leicester City  7  0  1  6  10  22  -12    1  INGLATERRA

In [ ]:
df_ligas.to_csv('df_ligas.csv',index=False)